@model GftImoveis.Models.Municipio

@{
    Layout = "_NovoLayout";
}


@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/modelo.css">
</head>

<h1>Deletar</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoM.EnderecoId)
        </dd class>
    </dl>
    
    <form asp-action="Delete" style="margin-left: 330px;">
        <input type="hidden" asp-for="MunicipioId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
    </form>
</div>
